html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Muller';
    src: local('MullerRegular'),
	url("../fonts/MullerRegular.woff2") format('woff2'),
	url('../fonts/MullerRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('MullerBold'),
	url("../fonts/MullerBold.woff2") format('woff2'),
	url('../fonts/MullerBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('MullerLight'),
	url("../fonts/MullerLight.woff2") format('woff2'),
	url('../fonts/MullerLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('MullerMedium'),
	url("../fonts/MullerMedium.woff2") format('woff2'),
	url('../fonts/MullerMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

body {
    min-width: 1200px;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    background-color: #E5E5E5;
}

/* glob */
h1,
h2,
h3,
li,
p,
ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.btn {
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

.btn:focus {
    color: #fff;
    background-color: #CC9933;
}

.btn:hover {
    color: #fff;
    background-color: #CC9933;
}

.btn:active {
    color: #fff;
    background-color: #A47312;
    border-color: #A47312;
}

.flex {
    display: flex;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    margin: 0 0 20px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}


.section-offset {
    margin-bottom: 70px;
}

/* header */
.header-top {
    padding: 30px 0;
    align-items: center;
}

.header-bottom {
    align-items: center;
    padding: 14px 45px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.logo {
    margin-right: 40px;
    font-size: 0;
}

.header-tel {
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}

.header-tel:focus {
    color: #CC9933;
    outline: 1px solid #CC9933;
    outline-offset: 5px;
}

.header-tel:hover {
    color: #CC9933;
    outline: none;
}

.header-tel:active {
    color: #A47312;
    outline: none;
}


.header-login {
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

.header-login::before {
    content: "";
    display: inline-block;
    margin-right: 7px;
    left: 0;
    width: 21px;
    height: 12px;
    background-image: url(../img/header-personal.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-login:focus {
    outline: 1px solid #CC9933;
    outline-offset: 9px;
}

.header-login:hover::before {
    background-image: url(../img/header-personal-2.svg);
}

.header-login:hover {
    color: #F0BF5F;
}

.header-login:active::before {
    background-image: url(../img/header-personal.svg);
}

.header-login:active {
    color: #A47312;
    outline: none;
}

.nav-item:not(:last-child) {
    margin-right: 45px;
}

.nav-item-link {
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.nav-item-link:focus {
    color: #CC9933;
    outline: 1px solid #CC9933;
    outline-offset: 5px;
}

.nav-item-link:hover {
    color: #CC9933;
    outline: none;
}

.nav-item-link:active {
    color: #A47312;
}

.header-nav {
    margin-right: auto;
}

.nav-btn:not(:last-child) {
    margin-right: 40px;
}

/* specials */
.specials-flex {
    flex-wrap: wrap;
    gap: 24px;
}

.aside-item {
    position: relative;
    width: 573px;
    padding: 40px 45px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.aside-item.aside-item-1::before,
.aside-item.aside-item-2::before {
    z-index: -1;
    position: absolute;
    border-radius: inherit;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}

.aside-item-1 {
    background-image: url(../img/specials-1.jpg);
}

.aside-item-2 {
    background-image: url(../img/specials-2.jpg);
}

.aside-item-big {
    background-image: url(../img/specials-3.jpg);
}

.aside-item:not(:last-child) {
    margin-bottom: 24px;
}



.aside-caption {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.aside-caption-big {
    max-width: 300px;
    padding-top: 182px;
    font-size: 60px;
    line-height: 60px;
}

.aside-descr {
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}

.aside-link {
    padding-right: 15px;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-image: url(../img/specials-arrow.svg);
}

.aside-link:hover {
    padding-right: 26px;
}

.aside-link:active {
    padding-right: 15px;
    color: #fff;
}

/* about us */
.about-us-descr {
    max-width: 888px;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

/* services */
.services-list {
    flex-wrap: wrap;
    gap: 24px;
}

.services-item {
    width: 573px;
    padding: 191px 45px 35px;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-color: #FFF;
}

.services-item:nth-child(1) {
    background-image: url(../img/services-1.jpg);
}

.services-item:nth-child(2) {
    background-image: url(../img/services-2.jpg);
}

.services-item:nth-child(3) {
    background-image: url(../img/services-3.jpg);
}

.services-item:nth-child(4) {
    background-image: url(../img/services-4.jpg);
}

.services-item-link {
    padding-right: 18px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../img/services-arrow.svg);
}

.services-item-descr {
    max-width: 402px;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

/* benefits */
.benefits-list {
    flex-wrap: wrap;
    gap: 22px;  
}

.benefits-item {
    background: #FFFFFF;
    border-radius: 15px;    
    width: 276px;
    padding: 40px 45px 32px;
    background-repeat: no-repeat;
    background-size: 67px 67px;
    background-position-x: 45px;
    background-position-y: 40px;
}

.benefits-item:nth-child(1) {
    background-image: url(../img/benefits-1.svg);
}

.benefits-item:nth-child(2) {
    background-image: url(../img/benefits-2.svg);
}

.benefits-item:nth-child(3) {
    background-image: url(../img/benefits-3.svg);
}

.benefits-item:nth-child(4) {
    background-image: url(../img/benefits-4.svg);
}

.benefits-item:nth-child(5) {
    background-image: url(../img/benefits-5.svg);
}

.benefits-item:nth-child(6) {
    background-image: url(../img/benefits-6.svg);
}

.benefits-item:nth-child(7) {
    background-image: url(../img/benefits-7.svg);
}

.benefits-item:nth-child(8) {
    background-image: url(../img/benefits-8.svg);
}

.benefits-item-descr {
    margin-top: 77px;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

/* accom */
.accom-list {
    gap: 24px;
    flex-wrap: wrap;
}

.accom-article {
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
}

.accom-text {
    padding: 32px 45px 45px;
}

.accom-price {
    justify-content: space-between;
    margin-bottom: 16px;
}

.accom-price small {
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.accom-price strong {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.accom-caption {
    margin-bottom: 16px;
}

.accom-place {
    color: #999999;
    margin-bottom: 20px;
}

.accom-item-last {
    position: relative;
    width: 374px;
    background-image: url(../img/accom-9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 27px;
}
/*  */
.accom-item-last p {
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    background-image: url(../img/accom-last-item.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px;
}

.accom-last-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* tour */
.tour-container {
    background-color: #E9E9E9;
    border-radius: 15px;
    padding: 45px;
}

.tour-title {
    margin-bottom: 20px;
}

.form-tour {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 32px 28px;
}

.form-text {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 15px;
}

.form-label {
    margin-right: 41px;
}

.form-label input,
.form-label select {
    font-size: 16px;
    line-height: 16px;
    border: none;
}

.tour-btn {
    margin-left: 51px;
}

.form-city,
.form-country {
    width: 169px;
}

.form-number {
    width: 121px;
}

.tour-btn {
    width: 108px;
    padding: 13px 30px;
}

/* contacts */
.container-contacts {
    background-color: #fff;
    border-radius: 15px;
    padding: 45px;
}

.contacts-left {
    flex-direction: column;
    width: 375px;
    margin-bottom: 45px;
    margin-right: 68px;
}

.contacts-left-text {
    min-width: 145px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.contacts-left-1block,
.contacts-left-2block,
.contacts-left-3block,
.contacts-left-4block {
    padding-bottom: 23px;
    padding-top: 25px;
    border-bottom: 1px solid #E9E9E9;
}

.contacts-left-1block {
    padding-top: 0;
}

.contacts-address,
.contacts-cshedule {
    line-height: 150%;
}

.contacts-tel,
.contacts-mail {
    line-height: 150%;
    color: #CC9933;
}

.contacts-tel:focus,
.contacts-mail:focus {
    outline: 1px solid #CC9933;
    outline-offset: 5px;
}

.contacts-tel:hover,
.contacts-mail:hover {
    color: #F0BF5F;

}

.contacts-tel:active,
.contacts-mail:active {
    color: #A47312;
    outline: none;
}

.contacts-mail-descr {
    line-height: 150%;
    color: #999999;
}

.contacts-btn {
    padding: 27px 29.5px;
    min-width: 213px;
}

.contacts-right {
    min-width: 653px;
    min-height: 528px;
    background-image: url(../img/contacts-back.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* footer */
.footer {
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
}

.footer-container {
    background-color: #333333;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 45px;
    background-image: url(../img/footer-back.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-position-x: 738px;
    background-size: 255px;
}

.footer-1block {
    width: 427px;
}

.footer-copy,
.footer-descr,
.agreement {
    max-width: 302px;
}

.footer-copy {
    margin-bottom: 37px;
}

.footer-descr {
    margin-bottom: 40px;
}

.agreement {
    line-height: 150%;
    color: #CC9933;
}

.footer-2block {
    max-width: 370px;
    margin-right: auto;
}

.footer-address {
    line-height: 30px;
    margin-bottom: 15px;
}

.footer-phones {
    line-height: 24px;
    margin-bottom: 15px;
    color: #CC9933;
}

.footer-mails {
    line-height: 24px;
    color: #CC9933;
}

.footer-tel:focus,
.footer-mail:focus,
.agreement:focus {
    outline: 1px solid #CC9933;
    outline-offset: 5px;
}

.footer-tel:hover,
.footer-mail:hover,
.agreement:hover {
    color: #F0BF5F;

}

.footer-tel:active,
.footer-mail:active,
.agreement:active {
    color: #A47312;
    outline: none;
}

.footer-link {
    display: block;
    width: 25px;
    height: 25px;
}

.footer-link:focus [fill] {
    fill: #CC9933;
}

.footer-link:hover [fill] {
    fill: #CC9933;
}

.footer-link:active [fill] {
    fill: #A47312;
}

.footer-link:not(:last-child) {
    margin-bottom: 20px;
}
